body {
  padding-left: 20px;
}

.title h1 {
  font-family: monospace;
  color: 000000;
}

.name {
    background-color: #E3FF42;
    margin-top: -10;
    padding: 20px 20px 20px 40px;
}

.name h1, .name h1 a, .name h1 a:visited, .name h1 a:active {
    color: #000000;
    font-size: 36pt;
    text-decoration: none;
}

.page_header {
    background-color: #E3FF42;
    margin-top: -10;
    padding: 20px 20px 20px 40px;
}

.page_header h1, .page_header h1 a, .page_header h1 a:visited, .page_header h1 a:active {
    color: #000000;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}
